body {
    text-align: center;
    background: linear-gradient(#e36220 0%, #fff400 100%);
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
    text-shadow: 2px 2px #ff1d00;
    color: aqua;
}

#hobby {
    font-size: 50px;
    font-family: Zilla Slab Highlight;
}

.profile {
    width: 30%;
    border-radius: 50%;
}

#bio {
    padding: 20px;
    font-size: 18px;
    color: red;
    text-align: center;
    background-color: dodgerblue;
}

.line {
    height: 10px;
    background-color: black;
    width: 100px;
    margin-left: 650px;
}

.menu {
    position:fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
padding-right: 25px;
    padding-left: 33px;
    font-family: fantasy;
    list-style: none;
    cursor: pointer;
    z-index: 10;
    color: yellow;
    font-size: 20px;
    display: inline;
}

a {
    color: yellow;
    text-decoration: none;
    text-shadow: 2px 2px gainsboro;
}

.links:hover {
    background-color: aquamarine;
}

#Bookreviews {
    background-color: darkgreen;
}

h3 {
    font-family: fantasy;
    color: yellow;
}

html {
    scroll-behavior: smooth;
}

p {
    color: red;
}

.h3works {
    color: darkgreen;
    font-size: 30px;
}

.workimages {
    width: 25%;
}

.workps {
    background-color: orange;
    width: 300px;
    margin-left: 600px;
    margin-top: -5px;
    text-decoration: none;
}

#Myinspiration {
    background-color: white;
}

#Myinspiration h1 {
    color: black;
    text-shadow: none;
    font-family: fantasy;
}

#Myinspiration p {
color: black; 
}

#rowlingimg {
    border-color: darkgrey;
    border-width: 15px;
    border-style: solid;
    transition: transform .2s;
}

#rowlingimg:hover {
transform: scale(1.1)
}

#contactline{
 background-color: white;
    width: 100%;
}

#contactline a {
    color: chocolate !important;
}

#contact iframe {
    width: 100%;
}